APP_NAME="rag-boilerplate"
APP_VERSION="0.1"

CHUNKING_PROVIDER=llamaindex # or "langchain", you can easily swap any chunking components provided here or strategize yourself by adding your own chunking modules

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

MONGODB_URL="mongodb://localhost:27006"
MONGODB_DATABASE="rag-boilerplate"

# LLM Config

GENERATION_BACKEND= "OPENAI"
EMBEDDING_BACKENED= "OPENAI"

OPENAI_API_KEY=""
OPENAI_API_URL=
COHERE_API_KEY=""

GENERATION_MODEL_ID=
EMBEDDING_MODEL_ID=
EMBEDDING_MODEL_SIZE=

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1