fastapi==0.110.2
uvicorn[standard]==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic-settings==2.2.1
aiofiles==23.2.1
llama-index==0.12.47
llama-index-readers-file==0.4.11
PyMuPDF==1.22.5
motor==3.7.1
pydantic-mongo==2.3.0
qdrant-client 1.15.0
